body {
  background: $body-background-color;
  color: $foreground-color;
  font-family: 'DINP-R', arial, serif;
  font-size: 1.3em;
}

header {
  font-size: 2em;
  color: $caption-color;
  text-align: center;
  background: pink;
  padding: 60px 30px 30px;
  background-size: 160px;
  width: 90%;
  margin: 20px auto;
  position: relative;
  border-radius: 5px;

  small {
    font-size: .5em;

    img {
      display: inline;
      width: 20px;
    }
  }
}

main {
  background: $foreground-color;
  color: $black;
  margin: 20px auto;
  padding: 40px;
  width: 90%;
  border-radius: 5px;

  h1 {
    font-size: 2em;
    font-weight: bold;
    padding: 20px;
    text-align: center;
  }

  h2 {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
  }

  h3 {
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }

  img {
    border-radius: 5px;
  }

  video {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: max-content;
    border-radius: 5px;
  }
}

.badges {
  line-height: .5em;

  img {
    display: inline;
  }

  h6 {
    font-size: .5em;
  }
}

a {
  color: $link-color;

  &:hover {
    color: $black;
  }
}

address {
  color: $accent-color;
}

pre {
  margin: 10px;
  padding: 20px;

  code {
    display: block;
    background: $body-background-color;
    color: $white;
    padding: 10px;
    border-left: 6px solid $link-color;
  }
}

.logo {
  margin: 0 auto;
  display: block;
}

ul {
  list-style-type: square;
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}

blockquote {
  background: $light-gray;
  border-left: 4px solid $link-color;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 10px 10px 20px;
}

code {
  font-family: Consolas, 'courier new';
  color: $link-color;
  background-color: $light-gray;
  padding: 2px;
  font-size: 1em;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding-bottom: 20px;

  a:hover {
    color: $white;
  }
}

.github-corner:hover {
  .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-25deg);
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(-25deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 500px) {
  .github-corner {
    &:hover {
      .octo-arm {
        animation: none;
      }
    }

    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
}

@media only screen and (min-width: 1024px) {
  header,
  main {
    width: 60%;
  }
}

@media only screen and (max-width: 1023px) {
  main {
    h1 {
      font-size: 1.3em;
    }

    h2 {
      font-size: 1.1em;
    }
  }
}
